.blue-bg {
    background-color: blue;
  }

  .palevioletred-bg {
    background-color: palevioletred;
  }

  .green-bg {
    background-color: green;
  }

  .lime-bg {
    background-color: lime;
  }